{block content}

	<h2>Nastavení</h2>

	{control settingsForm}

	<a n:href="resetPassword!">Změnit heslo</a>
	<a n:if="$user->getKosUsername()" n:href="importTags!">Importovat tagy z KosApi</a>

{/block}
