{block content}

	<h2>Přihlášení</h2>

	{control signInForm}

	<br>

	<p>
		Zapomněl jsi heslo? Nevadí, můžeš si ho <a n:href="lostPassword">změnit</a>.<br>
		Nejsi tu ještě zaregistrován? Nevadí, můžeš se <a n:href="signUp">zaregistrovat</a>.
	</p>

    <a n:href="facebookLogin:open!">Prihlas sa pomocou Facebooku</a>
{/block}
