extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	orm: Nextras\Orm\DI\OrmExtension
	events: Kdyby\Events\DI\EventsExtension
	console: Kdyby\Console\DI\ConsoleExtension

php:
	date.timezone: Europe/Prague


nette:
	application:
			errorPresenter: 'Error'

	container:
		debugger: false

	database:
		dsn: "mysql:host=%database.host%;dbname=%database.database%"
		user: %database.user%
		password: %database.password%
		debugger: true
		explain: true

	debugger:
		strictMode: true

	security:
		debugger: true

	session:
		autoStart: smart
		expiration: +90 days


orm:
	model: Fitak\RepositoryContainer


events:
	debugger: false

console:
	url: http://fitak.dev/
	commands:
		- Bin\Commands\Elastic\Reindex

dibi:
	driver: pdo
	charset: utf8
	profiler: true
	resource: @pdo


parameters:
	elastic:
		hosts:
			- 127.0.0.1

services:
	data: Data
	elasticSearch: ElasticSearch(%elastic%, %appDir%)
	elasticSearchUpdater: { class: Fitak\ElasticSearchUpdater, tags: [kdyby.subscriber] }
	highlighter: Highlighter
	migrationsDriver: Nextras\Migrations\Drivers\MySqlNetteDbDriver(..., migrations)
	pdo: @nette.database.default::getPdo()
	tags: Tags
	token: Token(..., ..., %fb.appId%, %fb.permissions%, %fb.appSecret%, %fb.adminEmail%)
	signInManager: Fitak\SignInManager
	signUpManager: Fitak\SignUpManager
	searchQueryParser: SearchQueryParser
	linkFactory: Nextras\Application\LinkFactory
	templateHelpers: TemplateHelpers
	templateFactory: TemplateFactory
	routerFactory: RouterFactory(%router.useHttps%)
	router: @routerFactory::create
	keyValueStorage: KeyValueStorage
