extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	orm: Nextras\Orm\DI\OrmExtension


php:
	date.timezone: Europe/Prague


nette:
	application:
			errorPresenter: 'Error'

	container:
		debugger: true

	database:
		dsn: "mysql:host=%database.host%;dbname=%database.database%"
		user: %database.user%
		password: %database.password%
		debugger: true
		explain: true

	debugger:
		strictMode: true

	security:
		debugger: true

	session:
		autoStart: smart
		expiration: +14 days


orm:
	model: Fitak\RepositoryContainer


dibi:
	driver: pdo
	charset: utf8
	profiler: true
	resource: @pdo


parameters:
	elastic:
		hosts:
			- 127.0.0.1

services:
	data: Data
	elasticSearch: ElasticSearch(%elastic%, %appDir%)
	highlighter: Highlighter
	likes: Likes
	migrationsDriver: Nextras\Migrations\Drivers\MySqlNetteDbDriver(..., migrations)
	pdo: @nette.database.default::getPdo()
	tags: Tags
	token: Token(@dibi.connection, %fb.appId%, %fb.permissions%, %fb.appSecret%, %fb.adminEmail%)
	searchQueryParser: SearchQueryParser
	linkFactory: Nextras\Application\LinkFactory
	templateHelpers: TemplateHelpers
	templateFactory: TemplateFactory
	routerFactory: RouterFactory(%productionMode%)
	router: @routerFactory::create
