common:
	includes:
		- fbparams.neon

	extensions:
		dibi: Dibi\Bridges\Nette\DibiExtension22

	php:
		date.timezone: Europe/Prague


	nette:
		session:
			autoStart: smart
			expiration: +14 days

		debugger:
			strictMode: true

		application:
			errorPresenter: 'Error'

		security:
			debugger: true

	dibi:
		driver: mysqli
		host: localhost
		charset: utf8
		lazy: true
		profiler: true

	parameters:
		elastic:
			hosts:
				- 127.0.0.1

	services:
		data:
			class: Data(@dibi.connection)

		elasticSearch:
			class: ElasticSearch(%elastic%, %appDir%)

		groups:
			class: Groups(@dibi.connection)

		likes:
			class: Likes(@dibi.connection)

		news:
			class: News(@dibi.connection)

		tags:
			class: Tags(@dibi.connection)

		token:
			class: Token(@dibi.connection, %app_id%, %permissions%, %app_secret%, %admin_email%)

		searchQueryParser:
			class: SearchQueryParser

		linkFactory:
			class: Nextras\Application\LinkFactory

		templateHelpers:
			class: TemplateHelpers

		templateFactory:
			class: TemplateFactory


production < common:
	includes:
		- product.neon

	nette:
		application:
			catchExceptions: true

development < common:
	includes:
		- devel.neon
