parameters:
	database:
		host: localhost
		user: root
		password:
		database: fitak.cz
	fb:
		appId: "APPID"
		appSecret: "APPSECRET"
		permissions: [offline_access, user_groups, read_stream]
	elastic:
#		connectionParams:
#			HTTP Auth to ElasticSearch node on production
#			auth: [username, password, "Basic"]
	router:
		useHttps: %productionMode%
