nette:
#	mailer:
#		smtp: true
#		host: smtp.mandrillapp.com
#		port: 587
#		secure: tls
#		username:
#		password:
parameters:
	database:
		host: localhost
		user: root
		password:
		database: fitak.cz
	fb:
		appId: "APPID"
		appSecret: "APPSECRET"
		permissions: [offline_access, email, public_profile]
	kosapi:
		username:
		password:
	elastic:
		index: fitak
	router:
		useHttps: %productionMode%
