<div class="text-center cloud">
	{if $tagCloud}
		{foreach $tagCloud as $item}
			<a href="{plink Homepage:default "tag:$item[name]"}" style="font-size: {$item["size"]|noescape}em;">{$item['name']}</a>
		{/foreach}
	{else}
	    Žádné trendy v poslední době.
	{/if}
</div>
