<div class="row text-center cloud">
	{if $tagCloud}
	    <span n:foreach="$tagCloud as $item" style="font-size: {$item["size"]|noescape}em; margin-right: 15px;">
	        <a href="{plink Search:default "tag:$item[name]"}">{$item['name']}</a>
        </span>
	{else}
	    Žádné trendy v poslední době.
	{/if}
</div>
