{block content}
    <div class="main-full-container">
    	<h1>Uživatelské nastavení</h1>
    	{control userSettingsForm}
    	<div n:foreach="$flashes as $flash" class="callout {$flash->type}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {$flash->message}
        </div>
    </div>
{/block}