{var $robots = noindex}
{block #content}

<h1>Stránka nebyla nalezena</h1>

<p><strong>Jste první člověk, který nám to tu dokázal celé rozbít, gratulujeme!</strong> 
<a href="mailto:admin@fitak.cz">Napište nám jak</a> a odměna vás nemine. 
</p>

<p><small>error 404</small></p>
