{var $robots = noindex}
{block #content}

<h1>Stránka nebyla nalezena</h1>

<p><strong>Něco se porouchalo. Pokud jste v tom nevinně, tak nám prosím
<a href="mailto:admin@fitak.cz">napište</a>. 
</p>

<p><small>error 404</small></p>
