html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	background: #FFFFFF;
	color: #333;
}

.container {
	width: 70%;
}

.search-main {
	text-align: center;
}

.cloud {
	padding-top: 1.6em;
}

.search-advanced {
	display: none;
	margin-bottom: 1.8em;
	padding-left: 1.5em;
	border-left: 1px #BBBBBB solid;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.topic .message {
	padding: 0.5em 0 0.8em;
}

.topic .comment,
.topic .hide-comments{
    display: none;
}

.topic .comment-marked {
    border-left-color: darkred;
}

.highlight {
	background-color: yellow;
	padding: 1px 0;
	border-radius: 3px;
}

/* Clear floats */
.fclear {
	clear:both
}

/* Other */
.fb-like {
	margin-left: -15px;
}

.context {
	cursor: help;
	border-bottom: 1px #444444 dashed;
}
