html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	background: #FFFFFF;
	color: #333;
}

.container {
	width: 70%;
	max-width: 765px;
}

.search-main {
	text-align: center;
}

.cloud {
	padding-top: 1.6em;
}

.search-advanced {
	display: none;
	margin-bottom: 1.8em;
	padding-left: 1.5em;
	border-left: 1px #BBBBBB solid;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.topic {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-radius: 5px;
	box-shadow: 0 0 10px #999999;
	padding: 1em;
	margin-bottom: 1em;
}

.topic .header {
	font-size: 0.8em;
}

.topic .message {
	padding: 0.5em 0 0.8em;
}

.topic .comment,
.topic .hide-comments {
    display: none;
}

.topic .comment,
.topic .comment-marked {
	padding: 0.5em 0.5em 0 0.5em;
	margin-bottom: 1em;
	border-top-left-radius: 3px;
	box-shadow: -1px -1px 4px #999999;
	background-color: #f5f5f5;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}

.topic .comment {
	background-color: #f5f5f5;
}

.topic .comment-marked {
    border-color: darkred;
	box-shadow: -1px -1px 4px darkred;
}

.highlight {
	background-color: yellow;
	padding: 1px 0;
	border-radius: 3px;
}

/* Clear floats */
.fclear {
	clear:both
}

/* Other */
.fb-like {
	margin-left: -15px;
}

.context {
	cursor: help;
	border-bottom: 1px #444444 dashed;
}
