html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	background: #FFFFFF;
	color: #333;
}

blockquote {
	margin: 1em 3em;
	padding: .5em 1em;
	border-left: 5px solid #fce27c;
	background-color: #f6ebc1;
}

.search-main {
	width: 45%;
	min-width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.cloud {
	padding-top: 1.6em;
}

.search-advanced {
	display: none;
	margin-bottom: 20px;
	padding-left: 15px;
	border-left: 1px #BBBBBB solid;
	font-size: 0.9em;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.topic {
    border-top:1px solid #777777;
    margin:4px;
}

.topic .header {
    border-bottom:1px solid #777777;
    background-color: #F1F1F1;
    padding: 3px;
    padding-left:5px;
    font-size:0.8em;
}

.topic .message {
    padding: 5px;
}

.topic .comments-all {
    display: none;
}

.topic .comment {
    border-top:1px solid #AAAAAA;
    margin:5px;
}

.topic .comment-marked {
    border:2px solid darkred;
    margin:5px;
}

.topic .comment .header {
    border-bottom:1px solid #AAAAAA;
    background-color: #FFFACD;
    padding: 3px;
    padding-left:5px;
    font-size:0.8em
}

.topic .comment .message {
    padding: 5px;
}

.topic .comment-marked .header {
    border-bottom:1px solid #777777;
    background-color: #FFFACD;
    padding: 3px;
    padding-left:5px;
    font-size:0.8em
}

.topic .comment-marked .message {
    padding: 5px;
}

.highlight {
    background-color:yellow;
}

.topic .showcomm {
    width:100%;
    cursor: hand;
    cursor: pointer;
}

.topic .showcomm .showcommin, .closecommin {
    padding:2px;
    color:darkred;
    text-align:center;
    font-size: 0.9em;
    font-family: arial;
}

.topic .showcomm .closecommin {
    display: none;
}

.context {
    cursor:help;
    border-bottom: 1px #444444 dashed;
}


.paginator {
	margin: 1em 0;
	font-size: 70%;
	text-align:center;
}

.paginator a, .paginator span {
	margin-right: 0.1em;
	padding: 0.2em 0.5em;
	color: #999999;
}

.paginator a {
	border: 1px solid #9AAFE5;
	text-decoration: none;
	color: #105CB6;
}

.paginator a:hover {
    background-color: #F1F1F1;
}

.paginator span.button {
	border: 1px solid #DDDDDD;
}

.paginator .current {
	background: #2E6AB1;
	border: 1px solid #2E6AB1;
	color: white;
	font-weight: bold;
}

/* Clear floats */
.fclear {clear:both}

.fb-like {
	margin-left: -15px;
}
