html { overflow-y: scroll; }
body { font: 14px/1.65 Verdana, "Geneva CE", lucida, sans-serif; background: #FFFFFF; color: #333; margin: 38px auto; max-width: 940px; min-width: 770px; }

h1 { font: normal 200%/1.3 Georgia, "New York CE", utopia, serif; color: black; padding-top: 15px}
h2 { font: normal 160%/1.3 Georgia, "New York CE", utopia, serif; color: black; padding-top: 15px}

img { border: none; }

a { color: #006aeb; padding: 3px 1px; }

a:hover, a:active, a:focus { background-color: #006aeb; text-decoration: none; color: white; }

#menu { width:100%; height:30px; border-bottom: 1px dotted #999999; position:absolute; top:0px; left:0px}
#menu-text { text-align:right; float: right; padding: 5px; padding-right:15px;}
#menu-text-left { text-align:left; float: left; padding: 5px; padding-left:15px;}


#search { background: white; padding: 70px 40px; text-align:center }
#content { background: white; padding-top: 10px; text-align:left; padding-left:160px; padding-right:160px; }


h2 span { color: #87A7D5; }
h2 a { text-decoration: none; background: transparent; }

.fb-like {
    margin-left: -15px;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.topic {
    border:1px solid #777777;
    margin:4px;
}

.topic .header {
    border-bottom:1px solid #777777; 
    background-color: #87CEEB;
    padding: 3px; 
    padding-left:5px;
    font-size:0.8em;
}

.topic .message {
    padding: 5px;
}

.topic .comment {
    border:1px dashed #777777;
    margin:5px;
}

.topic .comment-marked {
    border:3px solid darkred;
    margin:5px;
}

.topic .comment .header {
    border-bottom:1px solid #777777; 
    background-color: #FFFACD;
    padding: 3px; 
    padding-left:5px;
    font-size:0.8em
}

.topic .comment .message {
    padding: 5px;
}

.topic .comment-marked .header {
    border-bottom:1px solid #777777; 
    background-color: #FFFACD;
    padding: 3px; 
    padding-left:5px;
    font-size:0.8em
}

.topic .comment-marked .message {
    padding: 5px;
}

.highlight {
    background-color:yellow;
}

.topic .showcomm {
    background-color:#EEEEEE; 
    width:100%;
    cursor: hand; 
    cursor: pointer;
}

.topic .showcomm .showcommin {
    padding:2px;
    color:darkred;
    text-align:center;
    font-size: 0.9em;
}

.context {
    cursor:help;
    border-bottom: 1px #444444 dashed;
}


.paginator {
	margin: 1em 0;
	font-size: 90%;
	text-align:center;
}

.paginator a, .paginator span {
	margin-right: 0.1em;
	padding: 0.2em 0.5em;
	color: #999999;
}

.paginator a {
	border: 1px solid #9AAFE5;
	text-decoration: none;
	color: #105CB6;
}

.paginator span.button {
	border: 1px solid #DDDDDD;
}

.paginator .current {
	background: #2E6AB1;
	border: 1px solid #2E6AB1;
	color: white;
	font-weight: bold;
}

blockquote {
    margin: 1em 3em;
    padding: .5em 1em;
    border-left: 5px solid #fce27c;
    background-color: #f6ebc1; }
blockquote p {
    margin: 0; }

.cloud {
    padding:30px;
    width:500px;
    text-align:center;
    margin: 0px auto;
}
