<!doctype html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Test</title>
	<link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/app.css">
</head>

<body>

<div id="top-bar">
	<div id="top-bar-content">

		<div id="logo">
			<a n:href="Homepage:"><img src="{$basePath}/img/logo-new.png"></a>
		</div>


		<div id="search">
		{form searchForm}
			<div class="input-group">
				{input s}
				<div class="input-group-button">
					<button n:name="send" class="button" type="submit"><i class="fa fa-search"></i>
					</button>
					<div class="advanced-search" style="display:none">
						{input limit}
						{input from}
						{input groups}
					</div>
				</div>
			</div>
		{/form}
		</div>


		<div id="user-profile">
			<a href="#">
				<ul>
					<li class="profile-picture">
						<img src="{$basePath}/img/profile_matej_herman.jpg">
					</li>
					<li class="username">Matěj Heřman</li>
				</ul>
			</a>
		</div>

		<nav>
			<ul id="dropdown-menu" class="dropdown menu">
				<li>
					<a href="#"><i class="fa fa-caret-down"></i></a>
					<ul id="dropdown-submenu" class="vertical menu">
						<li><a href="#">Nápověda</a></li>
						<li><a href="#">O webu</a></li>
						<li><a href="#">Nahlásit problém</a></li>
						<hr>
						<li><a href="#">Zpět na hlavní stránku</a></li>
						<li><a href="#">Uživatelské nastavení</a></li>
						<li><a href="#">Odhlásit se</a></li>
					</ul>
				</li>
			</ul>
		</nav>

	</div>
</div>

<div id="page-wrapper">
    {include #content}
</div>

<script src="{$basePath}/js/libs/jquery-2.1.4.min.js"></script>
<script src="{$basePath}/js/libs/foundation.min.js"></script>
<script src="{$basePath}/js/app.js"></script>

</body>
</html>
