html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	background: #FFFFFF;
	color: #333;
	padding-top: 70px;
}

.container {
	width: 100%;
	max-width: 765px;
}

.search-main {
	text-align: center;
}

.cloud {
	margin-bottom: 20px;
}

.cloud a {
	margin-right: 15px;
}

.search-advanced {
	padding-top:20px;
	display: none;
}


.navbg {
  background-color: #43609c;
}
.navbg .navbar-brand {
  color: #fff;
}
.navbg .navbar-nav > li > a{
  color: #cdbfe3;
}
.navbg .navbar-nav > li > a:hover {
  color: #fff;
}
.navbg .navbar-nav > .active > a,
.navbg .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.navbg .navbar-toggle {
  border-color: #563d7c;
}
.navbg .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.topic {
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 1em;
}

.topic .header {
	font-size: 0.8em;
}

.topic .message {
	padding: 1em;
}

.topic .comment,
.topic .hide-comments {
    display: none;
}

.topic .comment,
.topic .comment-marked {
	padding: 1em;
	margin-bottom: 1em;
	border-top-left-radius: 3px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.highlight {
	background-color: yellow;
	padding: 1px 0;
	border-radius: 3px;
}

/* Clear floats */
.fclear {
	clear:both
}

/* Other */
.fb-like {
	margin-left: -15px;
}

.context {
	cursor: help;
	border-bottom: 1px #444444 dashed;
}

.news {
	border: 1px solid;
	margin: 10px 0;
	padding:15px 10px 15px 50px;
	color: #00529B;
	background: #BDE5F8 url('../img/info.png') no-repeat 10px center;
}

.autor a:hover
{
	text-decoration: none;
}

form table th label {
	padding-right: 10px;
	text-align: left;
	display: block;
}

form .error {
	color: #e00000;
	font-weight: bold;
}

/* fix blur font on Windows in Chrome */
.navbar-fixed-top,
.navbar-fixed-bottom {
	-webkit-transform: none;
	transform: none;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: none;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #cdbfe3;
	}
}
