html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, "Geneva CE", lucida, sans-serif;
	background: #FFFFFF;
	color: #333;
	padding-top: 70px;
}

.container {
	width: 100%;
	max-width: 765px;
}

.search-main {
	text-align: center;
}

.cloud {
	margin-bottom: 20px;
}

.cloud a {
	margin-right: 15px;
}

.search-advanced {
	padding-top:20px;
	display: none;
}

table.user-info {
    color: grey;
}

.navbg {
  background-color: #43609c;
}
.navbg .navbar-brand {
  color: #fff;
}
.navbg .navbar-nav > li > a{
  color: #cdbfe3;
}
.navbg .navbar-nav > li > a:hover {
  color: #fff;
}
.navbg .navbar-nav > .active > a,
.navbg .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #463265;
}
.navbg .navbar-toggle {
  border-color: #563d7c;
}
.navbg .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

.post {
	border: 1px solid #BBBBBB;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

.post .header {
	font-size: 0.8em;
}

.post .message {
	padding: 0.5em 0;
    margin: 0;
}

.post .comment,
.post .reply,
.post .hide-comments {
    display: none;
}

.post .comment,
.post .comment-marked {
	padding: 0.5em;
	/*margin-bottom: 1em;*/
    background-color: #e1e2e3;
    font-size: 90%;
}

.comment .reply {
    padding: 0.5em 0.5em 0.5em 2em;
    background-color: #e1e2e3;
}

.post-user-image {
    width: 40px;
    height: 40px;
}

.comment-user-image {
    width: 32px;
    height: 32px;
}

.reply-user-image {
    width: 20px;
    height: 20px;
}

.user-image {
    float: left;
    margin-right: 5px;
}

.user-name {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}

.show-comments .btn,
.hide-comments .btn {
    padding: 1px 10px;
    border-radius: 2px;
    font-size: 80%;
}

.comment .show-comments .btn,
.comment .hide-comments .btn {
    margin-left: 30px;
}


.highlight {
	background-color: yellow;
	padding: 1px 0;
}

/* Clear floats */
.fclear {
	clear:both
}

/* Other */
.fb-like {
	margin-left: -15px;
}

.context {
	cursor: help;
	border-bottom: 1px #444444 dashed;
}

.news {
	border: 1px solid;
	margin: 10px 0;
	padding:15px 10px 15px 50px;
	color: #00529B;
	background: #BDE5F8 url('../img/info.png') no-repeat 10px center;
}

.autor a:hover
{
	text-decoration: none;
}

form table th label {
	padding-right: 10px;
	text-align: left;
	display: block;
}

form .error {
	color: #e00000;
	font-weight: bold;
}



/* fix blur font on Windows in Chrome */
.navbar-fixed-top,
.navbar-fixed-bottom {
	-webkit-transform: none;
	transform: none;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: none;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #cdbfe3;
	}
}
